<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<nav  th:fragment="header" class="site-header"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <a class="" href="/" aria-label="Product">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
            </a>
          </div>
          <div class="col-sm-1">
              <a class="" href="">Profile</a>
          </div>
        
          <div class="col-sm-1">
          <!--         <a class="" href="/board/main" th:href="@{/board/main(value=0)}">Board</a> -->
            <a class="" th:href="@{/board/main(pageNo=0)}">Board</a>
          </div>
          <div th:if="${user}">
             <div th:if="${user.roleCd == '0'}">
               <div class="col-sm-1">
                  <a class="" th:href="@{/diaryBoard/main(pageNo=0)}">diary</a>
                </div>     
             </div>         
     
          </div>
          <div th:if="${user}">          
            <div class="col-sm-1" style="float: right;">
                <a class="" href="/login/logout">logout</a>
            </div>          
            <div class="col-sm-1" style="float: right;">
                <a class="" data-toggle="modal" data-target="#profileModal"><p th:text="${user.userId}"></p></a>
            </div>
          </div>
          
          <div th:unless="${user}">
          <div class="col-sm-1" style="float: right;">
            <a class="" href="/loginpage">login</a>
          </div>
          <div class="col-sm-1" style="float: right;">
            <a class="" href="/signIn/signInPage">signin</a>
          </div>
          </div>
          
       </div>
     </div>
  </nav>
</html>